.home-header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}
.home-question{
    border: 2px solid mediumslateblue;
    background: mediumslateblue;
    color: white;
    padding: 0 30px;
    font-size: 11px;
}
.home-details{
    font-size: 30px;
    font-weight: 500;
}
hr{
    width: 100%;
}